<footer id="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>Contact/follow</h3>
        <ul>
          <li class="twitter"><a href="https://twitter.com/AfricaHackTrip">@AfricaHackTrip</a></li>
          <li class="tumblr"><a href="http://africahacktrip.tumblr.com/">AfricaHackTrip.tumblr.com</a></li>
          <li class="facebook"><a href="https://facebook.com/Africahacktrip2013">facebook.com/AfricaHackTrip2013</a></li>
          <li class="email"><a href="mailto:hello@AfricaHackTrip.org">hello@AfricaHackTrip.org</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Press</h3>
        <ul>
          <li class="presskit"><a href="https://github.com/AfricaHackTrip/PressKit/archive/master.zip">Press kit download</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Supporters</h3>
        <div class="sponsor-logos">
          <p><a href="https://github.com/" class="github">GitHub</a></p>
          <p><a href="http://geeksphone.com/" class="geeksphone">Geeksphone</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <h3>Media Partners</h3>
        <h4><strong><a href="http://www.eufrika.org/">Eufrika.org</a></strong></h4>
        <p>
          Eufrika is a blog focusing on independent news for an African-European public.
        </p>
      </div>
    </div>
    <p class="license">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png"/></a><br/>All work by <a xmlns:cc="http://creativecommons.org/ns#" href="{{ "/" | relative_url }}" property="cc:attributionName" rel="cc:attributionURL">AfricaHackTrip</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
    </p>
  </div>
</footer>
