<footer id="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Contact/follow</h3>
        <ul>
          <li class="twitter"><a href="https://twitter.com/AfricaHackTrip">@AfricaHackTrip</a></li>
          <li class="tumblr"><a href="https://africahacktrip.tumblr.com/">AfricaHackTrip.tumblr.com</a></li>
          <li class="facebook"><a href="https://facebook.com/Africahacktrip2013">facebook.com/AfricaHackTrip2013</a></li>
          <li class="email"><a href="mailto:hello@AfricaHackTrip.org">hello@AfricaHackTrip.org</a></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3>Supporters</h3>
        <div class="sponsor-logos">
          <p><a href="https://github.com/" class="sponsor-logo github">GitHub</a></p>
          <p><span class="sponsor-logo geeksphone">Geeksphone</span></p>
        </div>
      </div>
    </div>
    <p class="license text-center">
      <small><a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://licensebuttons.net/l/by-sa/4.0/88x31.png"/></a><br/>All work by <a xmlns:cc="http://creativecommons.org/ns#" href="{{ "/" | relative_url }}" property="cc:attributionName" rel="cc:attributionURL">AfricaHackTrip</a> is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</small>
    </p>
  </div>
</footer>
