<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".aht-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/" | relative_url }}" title="AfricaHackTrip" rel="home">{{ site.title | escape }}</a>
    </div>
    <nav class="collapse navbar-collapse aht-navbar" role="navigation">
      <ul id="menu-main" class="nav navbar-nav pull-right"><li id="menu-item-108" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-108"><a href="/category/locations/kenya/">Kenya</a></li>
        <li id="menu-item-111" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-111"><a href="/category/locations/uganda/">Uganda</a></li>
        <li id="menu-item-109" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-109"><a href="/category/locations/rwanda/">Rwanda</a></li>
        <li id="menu-item-110" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-110"><a href="/category/locations/tanzania/">Tanzania</a></li>
        <li id="menu-item-222" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-222"><a href="/about-us/">About us</a></li>
        <li id="menu-item-244" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-244"><a href="/supporters/">Supporters</a></li>
        <li id="menu-item-153" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-153"><a href="/blog/">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>
<div id="bigfatmap"></div>
