---
layout: default
title: Blog
---

<section id="posts">
  {% for post in paginator.posts %}
    <article id="post-762" class="post-762 post type-post status-publish format-standard hentry category-uncategorized">
      <header class="entry-header">
        <h1 class="entry-title">
          <a href="{{ post.url }}" rel="bookmark">{{ post.title | escape }}</a>
        </h1>
        
        <div class="entry-meta">
          <span class="date">
            <a href="{{ post.permalink }}" title="Permalink to {{ post.title }}" rel="bookmark">
              <time class="entry-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ post.date | date: date_format }}
              </time>
            </a>
          </span>
          {% comment %}<span class="categories-links"><a href="/category/uncategorized/" title="View all posts in Uncategorized" rel="category tag">Uncategorized</a></span>{% endcomment %}
          {% if post.author %}
            <span class="author vcard">
              <a class="url fn n" {% comment %}href="/author/bumi/" title="View all posts by bumi"{% endcomment %} rel="author">
                {{ post.author }}
              </a>
            </span>
          {% endif %}
        </div><!-- .entry-meta -->
      </header><!-- .entry-header -->
    
      <div class="entry-content">
        {{ post.content }}
      </div>
    </article><!-- #post -->
  {% endfor %}
</section>

<section id="paging-navigation">
  <nav class="navigation paging-navigation" role="navigation">
    <h1 class="screen-reader-text">Posts navigation</h1>
    <div class="nav-links">
      {% if paginator.next_page %}
        <div class="nav-previous">
          <a href="{{ paginator.next_page_path }}"><span class="meta-nav">&larr;</span> Older posts</a>
        </div>
      {% endif %}
      {% if paginator.previous_page %}
        <div class="nav-next">
          <a href="{{ paginator.previous_page_path }}">Newer posts <span class="meta-nav">&rarr;</span></a>
        </div>
      {% endif %}
    </div><!-- .nav-links -->
  </nav><!-- .navigation -->
</section>
